:root {
  /* Backgrounds */
  --color-bg: #F4F4F9;
  --color-table-header-bg: #0fb4a4;
  --color-alt-row: rgba(255, 191, 105, 0.2);
  --color-bg-header: #F8E1CD;
  --color-bg-footer:  #FEC3AC;
  --color-table-red: rgba(255, 48, 21, 0.2);
  --color-table-orange: rgba(255, 166, 0, 0.2);
  --color-table-green: rgba(6, 221, 6, 0.2);

  /* Text */
  --color-text-main: #222222;
  --color-text-light: #ffffff;

  /* Buttons */
  --color-button-delete: #FF4D4D;
  --color-button-delete-hover: #D93B3B;
  --color-button-accent: #FFBF69;
  --color-button-accent-hover: #f2a94a;

  /* Borders & shadows */
  --color-border: rgba(105, 105, 105, 0.5);
  --color-shadow: rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Savate", Arial, sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg);
}

  .empty-list-message {
    text-align: center;
    margin-bottom: 0.5em;
  }

