:root {
  /* Utils */
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  /* Backgrounds */
  --color-bg: hsla(0, 0%, 80%, 0.673);
  --color-bg-light: hsl(0, 0%, 98%);
  --color-green-blue: hsl(174, 85%, 38%);
  --color-bg-header: hsl(28, 75%, 89%);
  --color-bg-footer: hsl(17, 98%, 84%);

  /* Alpha colors */
  --color-light-orange-alpha: hsla(39, 100%, 50%, 0.5);
  --color-red-alpha: hsla(7, 91%, 69%, 0.5);
  --color-green-alpha: hsla(120, 95%, 45%, 0.5);

  /* Buttons */
  --color-button-delete: hsl(0, 100%, 65%);
  --color-button-delete-hover: hsl(0, 68%, 54%);
  --color-button-accent: hsl(34, 100%, 71%);
  --color-button-accent-hover: hsl(34, 87%, 62%);

  /* Borders & shadows */
  --color-border: hsla(0, 1%, 53%, 0.5);
  --color-shadow: hsla(0, 0%, 0%, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Savate", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-bg);
}

.empty-list-message {
  text-align: center;
  margin-bottom: 0.5em;
}
